<<<<<<< HEAD
<style>
    .breadcrumbs {
        margin: 0 0 2em;
        padding: 1rem 5rem;
    }

    .breadcrumbs__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .breadcrumbs__item {
        display: inline-block;
    }

    .breadcrumbs__item:not(:last-child):after {
        border-style: solid;
        border-width: .10em .10em 0 0;
        content: '';
        display: inline-block;
        height: .20em;
        margin: 0 .20em;
        position: relative;
        transform: rotate(45deg);
        vertical-align: middle;
        width: .20em;
    }

    .breadcrumbs__link {
        text-decoration: underline;
    }

    .breadcrumbs__link[aria-current="page"] {
        color: inherit;
        font-weight: normal;
        text-decoration: none;
    }

    .breadcrumbs__link[aria-current="page"]:hover,
    .breadcrumbs__link[aria-current="page"]:focus {
        text-decoration: underline;
    }
</style>

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
    {%- assign t = template | split: '.' | first -%}

    <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
        <ol class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="/">Home</a>
            </li>
            {%- case t -%}
                {%- when 'page' -%}
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
                    </li>
                {%- when 'product' -%}
                    {%- if collection.url -%}
                        <li class="breadcrumbs__item">
                            {{ collection.title | link_to: collection.url }}
                        </li>
                    {%- endif -%}
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
                    </li>
                {%- when 'collection' and collection.handle -%}
                    {%- if current_tags -%}
                        <li class="breadcrumbs__item">
                            {{ collection.title | link_to: collection.url }}
                        </li>
                        <li class="breadcrumbs__item">
                            {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
                            <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
                        </li>
                    {%- else -%}
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
                        </li>
                    {%- endif -%}
                {%- when 'blog' -%}
                    {%- if current_tags -%}
                        <li class="breadcrumbs__item">
                            {{ blog.title | link_to: blog.url }}
                        </li>
                        <li class="breadcrumbs__item">
                            {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                            <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
                        </li>
                    {%- else -%}
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
                        </li>
                    {%- endif -%}
                {%- when 'article' -%}
                    <li class="breadcrumbs__item">
                        {{ blog.title | link_to: blog.url }}
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
                    </li>
                {%- else -%}
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
                    </li>
            {%- endcase -%}
        </ol>
    </nav>
{%- endunless -%}
=======
{% if settings.show_breadcrumbs %}

    {% unless template.name == 'index' or template.name == 'cart' %}
      <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
    
        {% if template.name == 'product' %}
    
          {% if collection %}
            {% if settings.show_breadcrumbs_collection_link %}
              <span class="breadcrumb__divider" aria-hidden="true">/</span>
              <a href="{{ routes.collections_url }}">{{ 'general.search.collections' | t | replace: ':', ''}}</a>
            {% endif %}
    
            <span class="breadcrumb__divider" aria-hidden="true">/</span>
            {% if collection.handle %}
              {% capture url %}{{ routes.collections_url }}/{{ collection.handle }}{% endcapture %}
              {{ collection.title | link_to: url }}
            {% endif %}
          {% endif %}
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
    
        {% elsif template.name == 'collection' and collection.handle %}
          {% if settings.show_breadcrumbs_collection_link %}
            <span class="breadcrumb__divider" aria-hidden="true">/</span>
            <a href="{{ routes.collections_url }}">{{ 'general.search.collections' | t | replace: ':', ''}}</a>
          {% endif %}
    
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
    
          {% if current_tags %}
    
            {% capture url %}{{ routes.collections_url }}/{{ collection.handle }}{% endcapture %}
            {{ collection.title | link_to: url }}
    
            <span class="breadcrumb__divider" aria-hidden="true">/</span>
    
            {% for tag in current_tags %}
              {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
    
              {% assign tag_name = tag | strip %}
              {% assign tag_text = tag_name | capitalize %}
              <span>{{ tag_text }}</span>
    
              {% unless forloop.last %}
                <span>+</span>
              {% endunless %}
    
            {% endfor %}
          {% endif %}
    
        {% elsif template.name == 'blog' %}
    
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
          {% if current_tags %}
            {{ blog.title | link_to: blog.url }}
            <span class="breadcrumb__divider" aria-hidden="true">/</span>
            <span>{{ current_tags | join: " + " }}</span>
          {% endif %}
    
        {% elsif template.name == 'article' %}
    
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
          {{ blog.title | link_to: blog.url }}
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
    
        {% elsif template.name == 'page' %}
    
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
          <span>{{ page.title }}</span>
    
        {% elsif template.name == 'search' %}
    
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
          <span>{{ page_title | replace: '*', '' }}</span>
    
        {% else %}
    
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
          <span>{{ page_title }}</span>
    
        {% endif %}
      </nav>
    {% endunless %}
    
    {% endif %}
    
>>>>>>> master
